<!DOCTYPE html>
<html ng-app="LunchCheck">

<script src="angular/angular.min.js"></script>
<link rel="stylesheet" href="style/bootstrap.min.css">
<script src="app/app.js"></script>

<head>
<style>
.divStyle{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.buttonMargin{
  margin-top: 10px;
}
</style>
</head>
<body>

<div ng-controller='LunchCheckController'>
  <div class = "divStyle">
      <h1 align="center">Lunch Checker</h1>
      <label for="lunchNameList">Enter Lunch Name List: </label>
      <input type="text" id="lunchNameList" ng-model="lunchNameList" ng-style="inputTextFieldStyle" class="form-control">
      <button type="button" class = "buttonMargin" ng-click="checkLunchNames()"  class="btn btn-default">Check If Too Much</button>
      <h4 ng-style="messageColor">{{message}}</h4>
    </div>
</div>

</body>
</html>
